
<div class="whole">

  <!-- Tab links -->
  <div class="tab">
    <div><button class="tablinks" onclick="openCity(event, 'Accueil')">Accueil</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'Popeye')">Popeye</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'Haddock')">Haddock</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'Cousteau')">Cousteau</button></div>
    <div><button class="tablinks" onclick="openCity(event, 'Sparrow')">Jack Sparrow</button></div>
  </div>

  <!-- Tab content -->
  <div id="Accueil" class="tabcontent">
  </div>
  
  <div id="Popeye" class="tabcontent">
    <img src='images/popeye.jpeg'>
  </div>

  <div id="Haddock" class="tabcontent">
  <img src='images/haddock.png'>
  </div>

  <div id="Cousteau" class="tabcontent">
  <img src='images/cousteau.jpeg'>
  </div>

  <div id="Sparrow" class="tabcontent">
  <img src='images/sparrow.jpeg'>
  </div>
  </div>