<div class="team">
<div id="column">
  <div id="card">
    <img src="images/Dav.jpg" alt="Dav">
    <div id="container">
      <h2>David Ranjar</h2>
      <h3 id="title">Gitant forrain de l'espace</h3>
      <p id="description">A étudié auprès des plus grands maitres chinois experts en css. De plus il est beau.</p>
      <p>Dav@incroyableducul.fr</p>
      <p><button id="button">Contact</button></p>
    </div>
  </div>
</div>

<div id="column">
  <div id="card">
    <img src="images/Fra.jpg" alt="John">
    <div id="container">
      <h2>François Flous</h2>
      <h3 id="title">LOL proplayer</h3>
      <p id="description">Souvenez vous de ces sages paroles qu'il prononça alors: 'Get cancer noob'.</p>
      <p>françois@pattes.carbo</p>
      <p><button id="button">Contact</button></p>
    </div>
  </div>
</div>

<div id="column">
  <div id="card">
    <img src="images/Pau.jpg" alt="John">
    <div id="container">
      <h2>Paulo Guerin</h2>
      <h3 id="title">Rhume en phase términale</h3>
      <p id="description">Quote : "Du css? Jamais je touche à cette merde!" 
      L'histoire lui donnera tort.</p>
      <p>paulo@antibios.net</p>
      <p><button id="button">Contact</button></p>
    </div>
  </div>
</div>

<div id="column">
  <div id="card">
    <img src="images/Val.jpg" alt="John">
    <div id="container">
      <h2>Valérian Michelot</h2>
      <h3 id="title">Zzzzzzzzz</h3>
      <p id="description">La légende raconte qu'il se serait réveillé une fois pour acheter un kébab.</p>
      <p>valou@hackerman.com</p>
      <p><button id="button">Contact</button></p>
    </div>
  </div>
</div>

<div id="column">
  <div id="card">
    <img src="images/Wil.jpg" alt="John">
    <div id="container">
      <h2>William Horel</h2>
      <h3 id="title">Maitre croque-monsieur</h3>
      <p id="description">Quote: "Non mais vous faites pas encore la sieste?" </br>
      L'histoire continue de lui donner tort.</p>
      <p>will@example.com</p>
      <p><button id="button">Contact</button></p>
    </div>
  </div>
</div>