<ul class="navbar">

    <div class=class="navbar-logo">
        <li>
            <img src="http://www.animatedimages.org/data/media/271/animated-ship-image-0031.gif" id="logo_gif">
        </li>
    </div>

    <div class=class="music">
        <li>
            <audio src="/audios/pirate.mp3" loop=true autoplay controls preload="auto">
            </audio>
        </li>
    </div>

    <div class=navbar_buttons>
    <div><li><form action="/">
    <button type="submit" value="Home"/>
    Home
    </form></li></div>

    <div><li><form action="team">
    <button type="submit" value="team"/>
    Team
    </form></li></div>

    <div><li><form action="https://www.thehackingproject.org/">
    <button type="submit" value="THP"/>
    THP
    </form></li></div>
    </div>

    <div class="avatar">
        <div class=username>Super user </div>
        <div class="dropdown">
                <img src="https://www.freeiconspng.com/uploads/github-logo-icon-26.png" alt="Avatar" id="avatar"> 
                <div class="dropdown-content">
                    <a href="#">Profil</a>
                    <a href="#">Paramètres</a>
                    <a href="#">Déconnection</a>
                </div>
            </div> 
        </li>
    </div>
</ul>
